###########################################
# Global Configuration
###########################################
defaultEntryPoints = ["http", "https"]
#logLevel = "INFO"
MaxIdleConnsPerHost = 500
###########################################
# Set Entrypoints
[entryPoints]
# HTTP redirected to HTTPS
[entryPoints.http]
address = ":80"
[entryPoints.http.redirect]
entryPoint = "https"
# HTTPS is the default
[entryPoints.https]
address = ":443"
[entryPoints.https.tls]
###########################################
# Enable ACME (Automatic SSL): Let's Encrypt
# http://docs.traefik.io/configuration/acme/
[acme]
#email = "CHANGE@EMAIL.COM"
storage = "/etc/acme/acme.json"
entryPoint = "https"
onDemand = false
OnHostRule = true

#[acme.httpChallenge]
#entryPoint = "http"

#[acme.dnsChallenge]
#provider = "cloudflare"
#delayBeforeCheck = 59

###########################################
# Wacth docker endpoints
[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "docker.localhost"
watch = true
exposedbydefault = false
###########################################
# Enable Web Dashboard With Password
[web]
address = ":8080"
readOnly = true
[web.auth.basic]
usersFile = "/.htpasswd"
